<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="../vendor/jquery.fittext.js"></script>
  <title><%= country %></title>
  <link rel="shortcut icon" type="image/png" href="../img/favicon.ico">
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-160824550-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-160824550-2');
  </script>
  <style>
    @font-face {
      font-family: 'Crash Numbering';
      src: url('/fonts/Crashnumberinggothic-MAjp.ttf');
    }

    * {
      overflow: hidden;
    }

    *:focus {
      outline: none;
    }

    body{
      margin: 0;
      height: 100vh;
      background: black;
    }

    body > div, .active, .recovered, .deaths {
      height: 100%;
      position: relative;
    }

    h3 {
      width: 100%;
      margin: 0;
      transform: scale(1.5);
      text-align: center;
      font-family: 'Crash Numbering', Arial, Helvetica, sans-serif;
    }

    .float{
      z-index: 100;
      left:0;
      top:0;
      padding: 1.5rem;
      width: 100%;
      height: auto;
      background: white;
    }

    #info {
      box-shadow: 2.5px 2.5px 15px rgba(255, 255, 255, .35);
      border-radius: 50%;
      width: 35px;
      height: 35px;
      margin-top: -2.5px;
      margin-right: 25px;
      filter: invert();
      background: white;
    }

    #input {
      box-shadow: 2.5px 2.5px 15px rgba(0, 0, 0, .35);
      border: none;
      height: 35px;
      padding: 0 10px;
      min-width: 250px;
      text-align: center;
      border-radius: 25px;
    }
    
    table td:first-of-type {
      text-align: left;
      padding-right: 10px;
    }

    table td:nth-of-type(2) {
      text-align: right;
    }
  </style>
</head>
<body>
  <div class="float position-absolute">
    <img id="info" data-toggle="tooltip" data-html="true" data-placement="top" title="<%- infoHtml %>" src="https://image.flaticon.com/icons/svg/1/1176.svg"/>
    <input id="input" list="countryList">
    <datalist id="countryList">
      <option>Global</option>
      <% for (var country of countries) { %>
        <option><%= country.country %></option>
        <% } %>
      </datalist>
  </div>
  <div id="container" class="d-flex">
    <div class="active d-flex flex-row" data-fill="#ffce56" data-percentage="<%= activeP %>">
      <h3 class="align-self-center"><%= String(active).replace(/(.)(?=(\d{3})+$)/g,'$1,') %></h3>
    </div>
    <div class="recovered d-flex flex-row" data-fill="#4bc0c0" data-percentage="<%= recoveredP %>">
      <h3 class="align-self-center"><%= String(recovered).replace(/(.)(?=(\d{3})+$)/g,'$1,') %></h3>
    </div>
    <div class="deaths d-flex flex-row" data-fill="#ff6384" data-percentage="<%= deathsP %>">
      <h3 class="align-self-center"><%= String(deaths).replace(/(.)(?=(\d{3})+$)/g,'$1,') %></h3>
    </div>
  </div>
  <script>
    $(()=> {
      let current = decodeURIComponent(window.location.pathname.replace(/\/overview\//g, ''))
      $("#input").val(current.charAt(0).toUpperCase()+current.slice(1))
                 .on('change', (e) => window.location.replace('/overview/'+encodeURIComponent($(e.target).val())))
                 .on('input', (e) => $('#countryList option').filter((i, o)=> o.value.toUpperCase() === e.target.value.toUpperCase()).length && window.location.replace('/overview/'+encodeURIComponent($(e.target).val())))
      $('[data-toggle="tooltip"]').tooltip()
      let r = () => {
        let mobile = /Mobi|Android/i.test(navigator.userAgent)
        if(mobile)
          $("#container").removeClass('flex-row').addClass('flex-column')
        else
          $("#container").removeClass('flex-column').addClass('flex-row')
        $("h3").each((i, e) => $(e).parent().css(mobile?'height':'width', $(e).parent().data('percentage')+'%').css(!mobile?'height':'width', '100%')
               .css('background-color', $(e).parent().data('fill')))
        $("h3").fitText(.5, { useHeightIfFitting: mobile, maxFontSize: mobile?150:200, minFontSize: mobile?7.5:5 })
      }
      r()
      window.onresize = r
    })
  </script>
</body>
</html>